@using VehicleTender.Web.AdminUI.Models.CorporateUser
@model List<GetCorporateUserDTO>;

<div class="row">
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Kurumsal Kullanıcılar</h5>
    <form method="get"> <!--Query string ile alıyoruz yani urlden o yüzden get (filtreleme için)-->
        <div class="row filter">
            <div class="col-6">
                <label>Şirket Adı</label>
                <select class="form-control" name="companyType">
                    <option value="Borusan">Borusan</option>
                    <option value="vs">vs</option>
                    <option value="vsvs">vsvs</option>
                </select>

                <!-- şuan şirketleri db den çekmedigimiz için commentta alındı
                <select class="form-control" name="companyType">
                    foreach(var item in Model.getAllCorporateUser)
                    {
                        <option value="item.CompanyName">item.CompanyName</option>
                    }
                </select>
                -->
            </div>
            <div class="col-6">
                <label>Paket Bilgisi</label>
                <select class="form-control" name="packetType">
                    <option value="Altın">Altın</option>
                    <option value="Gümüş">Gümüş</option>
                    <option value="Bronz">Bronz</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Listele" class="btn btn-primary m-3 list" />
                </div>
            </div>
        </div>
    </form>
</div>




<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Kurumsal Kullanıcılar
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Mail</th>
                    <th>Telefon</th>
                    <th>Şirket Ad</th>
                    <th>Şirket Tip</th>
                    <th>Adres</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Aktiflik</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Surname
                        </td>
                        <td>
                            @item.Mail
                        </td>
                        <td>
                            @item.Telephone
                        </td>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.CompanyType
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.Province
                        </td>
                        <td>
                            @item.District
                        </td>
                        <td>
                            @item.isActive
                        </td>
                        <td style="text-align:center;">
                            <a asp-action="UpdateCorporateUser" asp-controller="User" asp-route-id="@item.UserId" class="btn btn-warning">Güncelle</a>
                        </td>
                    </tr> 

                }
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
