@using VehicleTender.Web.AdminUI.Models.PageModel
@model IndividualVehiclePage
<div>
    <form method="get">
        <h5 class="mb-3 pb-3 display-5 text-center mt-4">Bireysel Araç Satım</h5>
        <div class="row filter">

            <div class="col-4">
                <label>Araç Marka</label>
                <select class="form-control" name="brand">
                    <option value="text">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Araç Model</label>
                <select class="form-control" name="model">
                    <option value="text">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Statü</label>
                <select class="form-control" name="statu">
                    <option value="text">text</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Listele" class="btn btn-primary m-3 list" />
                </div>
            </div>
        </div>
    </form>
</div>


<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Listesi
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Araç Id</th>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
     @foreach (var item in Model.GetIndividualCarSaleList)
                {
                    <tr>
                        <td>
                            @item.CarId
                        </td>
                        <td>
                            @item.CarBrand
                        </td>
                        <td>
                            @item.CarModel
                        </td>
                        <td>
                            @item.Statu
                        </td>
                        <td>
                            @item.CreatedBy
                        </td>
                        <td>
                            @item.CreatedDate
                        </td> 
                          <td class="update_delete"><form method="get"><button type="submit" class="btn btn-warning" asp-action="IndividualVehicleSalesDetail" asp-controller="User" asp-route-ID ="@item.CarId">Güncelle</button></form>
                               <form method="post">
                                <button type="submit" class="btn btn-danger" asp-action="DeleteIndividualVehicleSales" asp-controller="User" asp-route-ID="@item.CarId">Sil</button>
                             </form></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
