@{
    ViewData["Title"] = "Vehicle List";
}
<div class="row">
    <div class="col-4">
        <div class="row">
            <button type="button" class="btn btn-primary">Marka Ekle</button>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Marka Tablosu
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Araç Marka</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Marka Tablosu
            </div>
            <div class="card-body">
                <table id="example" class="table" style="width:100%">
                    <thead>
                         <tr>
                            <th>Sıra</th>
                            <th>Araç Marka</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>  <div class="col-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Marka Tablosu
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Araç Marka</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Yakıt Tipi Tablosu
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Araç Yakıt Tipi</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Vites Tipi
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Araç Vites Tipi</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Araç Donanım Tablosu
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Araç Donanım</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 15; i++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>fasdfasd</td>
                                <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
  <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
  </script>
}



