@model VehicleTender.WEB.UserDTO.VM.Page.BuyAVehicleNowVM
@{
    ViewBag.Title = "BuyAVehicleNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Hemen Araç Al</h2>

@using (Html.BeginForm("BuyAVehicleNow", "NonTenderVehicle", FormMethod.Post))
{


    <div class="container-fluid bg-white pt-3 px-lg-5">
        <div class="row mx-n2">
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.BrandId, new List<SelectListItem> { new SelectListItem { Text = "BMW", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.ModelId, new List<SelectListItem> { new SelectListItem { Text = "320", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <div class="date mb-3" id="date" data-target-input="nearest">
                    @Html.TextBoxFor(x => x.Input.MinKilometer, new { placeholder = "MİN KM", @class = "form-control p-4" })
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <div class="date mb-3" id="date" data-target-input="nearest">
                    @Html.TextBoxFor(x => x.Input.MaxKilometer, new { placeholder = "MAX KM", @class = "form-control p-4" })
                </div>
            </div>

            @*İl*@
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.CityId, new List<SelectListItem> { new SelectListItem { Text = "İstanbul", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            @*İlçe*@
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.DistrictId, new List<SelectListItem> { new SelectListItem { Text = "Kartal", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            @*Min Fiyat*@
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <div class="date mb-3" id="date" data-target-input="nearest">
                    @Html.TextBoxFor(x => x.Input.MaxPrice, new { placeholder = "MAX Fiyat", @class = "form-control p-4" })
                </div>
            </div>
            @*Max Fiyat*@
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <div class="date mb-3" id="date" data-target-input="nearest">
                    @Html.TextBoxFor(x => x.Input.MinPrice, new { placeholder = "MİN Fiyat", @class = "form-control p-4" })
                </div>
            </div>

            @*Vites*@

            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.GearTypeId, new List<SelectListItem> { new SelectListItem { Text = "Otomatik", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>

            @*TArih*@
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <div class="date mb-3" id="date" data-target-input="nearest">
                    @Html.TextBoxFor(x => x.Input.Date, new { @class = "form-control p-4" })
                </div>
            </div>




            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.FuelTypeId, new List<SelectListItem> { new SelectListItem { Text = "Benzin", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                @Html.DropDownListFor(x => x.Input.Year, new List<SelectListItem> { new SelectListItem { Text = "2022", Value = "1" } }, new { @class = "custom-select px-4 mb-3" })
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 px-2">
                <button class="btn btn-primary btn-block mb-3" type="submit" style="height: 50px;">Ara</button>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-center mb-5">Araçlar</h1>
        @foreach (var item in Model.Cars)
        {
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="~/img/car-rent-1.png" />
                        <h4 class="text-uppercase mb-4">@item.Brand @item.Model</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>@item.Year</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>@item.GearType</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>@item.KM</span>
                            </div>
                        </div>
                        @using (Html.BeginForm("VehicleDetail", "NonTenderVehicle", new { id = item.Id }, FormMethod.Get))
                        {<button class="btn btn-primary px-3" type="submit">Detay</button>}
                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>
