@using VehicleTender.Web.AdminUI.Models.Tender
@model List<GetTenderDTO>
<div>
    <form method="post">
        <div class="row filter">
            <div class="col-4">
                <label>İhale Adı</label>
                <select class="form-control" name="tenderName">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Bireysel / Kurumsal</label>
                <select class="form-control" name="isIndividual">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Statü</label>
                <select class="form-control" name="statu">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Listele" class="btn btn-primary m-3 list" />
                </div>
            </div>
        </div>
    </form>
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">İhaleler</h5>


</div>


<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        İhale Listesi
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>İhale Id</th>
                    <th>İhale Adı</th>
                    <th>Bireysel/Kurumsal</th>
                    <th>İhale Başlangıç</th>
                    <th>İhale Bitiş</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TenderId</td>
                        <td>@item.TenderName</td>
                        <td>@item.IndivudualOrCorparate</td>
                        <td>@item.TenderStart</td>
                        <td>@item.TenderEndTime</td>
                        <td>@item.Statu</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate</td>
                        <td class="update_delete">
                            <a type="button" asp-controller="Tender" asp-action="UpdateTender" asp-route-ID="@item.TenderId" class="btn btn-warning">Güncelle

                            </a>
                            <a type="submit" class="btn btn-danger" asp-action="DeleteTender" asp-controller="Tender" asp-route-ID="@item.TenderId">Sil</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<a class="btn btn-primary w-100 p-3" href="~/tender/NewTenderCreate" role="button">Yeni İhale Ekle</a>
