
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="~/img/user.png" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5>Okan</h5>
                    <p class="text-muted mb-1">İstanbul</p>
                    <div class="btn-group-vertica">
                        <div class="d-flex justify-content-center mb-2">
                            <button style="width:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Favoriler</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button style="width:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg5">İhaleye Çıkan Araçlarım</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button style="width:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg1">Satılan Araçlarım</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button style="width:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg2">Aldığım Araçlar</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button style="width:200px;" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg3">Teklif Verdiğim Araçlar</button>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button style="background-color:#2B2E4A; color:  white; width:200px" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg4">Mesajlar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Ad</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><b>Kullanıcı_Ad</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Soyad</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><b>Kullanıcı_Soyad</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Telefon</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><b>0000000000</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><b>email</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Adres</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"><b>İstanbul</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button style="background-color:#2B2E4A; color:  white;" class="btn btn-info btn-lg btn-block col-md-12" type="button" data-toggle="modal" data-target="#exampleModalCenter5">Şifre Değiştir</button>
            <button style="background-color:#2B2E4A; color:  white;" class="btn btn-info btn-lg btn-block col-md-12" type="button" data-toggle="modal" data-target="#exampleModalCenter6">Stok</button>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Şifre Değiştir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" method="post">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <label>Eski Şifreniz</label>
                            <input type="text" class="form-control">
                            <label>Yeni Şifreniz</label>
                            <input type="text" class="form-control">
                            <button type="button" class="btn btn-info btn-lg btn-block col-md-12 mt-3" style="background-color: #2B2E4A; color: white;">Kaydet</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:1000px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stoktaki Araçlar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="color:black;">Araç ID</th>
                                    <th style="color:black;">Araç Marka</th>
                                    <th style="color:black;">Araç Model</th>
                                    <th style="color:black;">Statü</th>
                                    <th style="color:black;">Kaydedilme Zamanı</th>
                                    <th style="color:black;">Ön Değerlendirme Fiyatı</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ford</td>
                                    <td>Mustang</td>
                                    <td>Giriş</td>
                                    <td>15.10.2022</td>
                                    <td>3500000TL</td>
                                    <td><a href="~/Tender/TenderDetail"><input type="submit" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" href="~/Tender/TenderDetail" /></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Renault</td>
                                    <td>Megane</td>
                                    <td>Giriş</td>
                                    <td>16.10.2022</td>
                                    <td>100000TL</td>
                                    <td><a href="~/Tender/TenderDetail"><input type="submit" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" href="~/Tender/TenderDetail" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="color:black;">Sıra</th>
                        <th style="color:black;">Araç Marka</th>
                        <th style="color:black;">Araç Model</th>
                        <th style="color:black;">Statü</th>
                        <th style="color:black;">Kaydedilme Zamanı</th>
                        <th style="color:black;">Ön Değerlendirme Fiyatı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>Ford</td>
                            <td>Mustang</td>
                            <td>Giriş</td>
                            <td>15.10.2022</td>
                            <td>3500000TL</td>
                            <td><button class="btn btn-danger">Çıkar</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th style="color:black;">Sıra</th>
                        <th style="color:black;">Araç Marka</th>
                        <th style="color:black;">Araç Model</th>
                        <th style="color:black;">Satılma Zamanı</th>
                        <th style="color:black;">Satış Fiyatı</th>
                        <th style="color:black;">Alıcı</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {

                        <tr>
                            <td>@i</td>
                            <td>Ford</td>
                            <td>Mustang</td>
                            <td>15.10.2022</td>
                            <td>3500000TL</td>
                            <td>gfasdfasdf</td>
                            <td><button class="btn btn-primary">Detay</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th style="color:black;">Sıra2</th>
                        <th style="color:black;">Araç Marka2</th>
                        <th style="color:black;">Araç Model</th>
                        <th style="color:black;">Alma Zamanı</th>
                        <th style="color:black;">Alma Fiyatı</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {

                        <tr>
                            <td>@i</td>
                            <td>Ford</td>
                            <td>Mustang</td>
                            <td>15.10.2022</td>
                            <td>3500000TL</td>
                            <td><button class="btn btn-primary">Detay</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th style="color:black;">Sıra3</th>
                        <th style="color:black;">Araç Marka3</th>
                        <th style="color:black;">Araç Model</th>
                        <th style="color:black;">Teklif Verdiğim Tarih</th>
                        <th style="color:black;">Verdiğim Teklif</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {

                        <tr>
                            <td>@i</td>
                            <td>Ford</td>
                            <td>Mustang</td>
                            <td>15.10.2022</td>
                            <td>3500000TL</td>
                            <td><button class="btn btn-primary">Detay</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><b>Adet</b></th>
                        <th><b>Mesaj</b></th>
                        <th><b>Sil</b></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < 5; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>Buraya mesaj gelecek</td>
                            <td><button class="btn btn-danger" type="button">Sil</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th style="color:black;">Sıra</th>
                        <th style="color:black;">Araç Marka</th>
                        <th style="color:black;">Araç Model</th>
                        <th style="color:black;">Statü</th>
                        <th style="color:black;">Kaydedilme Zamanı</th>
                        <th style="color:black;">İhalede Kalma Süresi</th>
                        <th style="color:black;">Ön Değerlendirme Fiyatı</th>

                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {

                        <tr>
                            <td>@i</td>
                            <td>Ford</td>
                            <td>Mustang</td>
                            <td>Başladı</td>
                            <td>15.10.2022</td>
                            <td>10 Gün</td>
                            <td>3500000TL</td>
                            <td><button class="btn btn-primary">Detay</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
