<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anasayfa</title>
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    @*<div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</a>
                        <span class="text-body">|</span>
                        <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>info@example.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-body px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="container-fluid nav-bar p-0 fixed-top">
        <div class="position-relative" style="z-index:9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">

                    <h1 class="text-uppercase text-primary mb-1">@Html.ActionLink("Araçcım", "Index", "Home")</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        @*<button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("İhaleler", "ListTender", "Tender")</button>

                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("Stok Takibi", "Stock", "Vehicle")</button>


                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn ">@Html.ActionLink("İlan Listesi", "Index", "AdvertList")</button>
                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn ">@Html.ActionLink("Bireysel Araç Satış", "PostingSalesAdvertisement", "Vehicle")</button>
                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn ">@Html.ActionLink("Hemen Araç Al", "BuyAVehicleNow", "NonTenderVehicle")</button>
                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn ">@Html.ActionLink("İletişim", "Contact", "Home")</button>
                    <button style="background-color: #2B2E4A;" class="nav-item nav-link btn ">@Html.ActionLink("Giriş Yap", "Login", "Home")</button>*@

                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Tender/ListTender">İhaleler</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Vehicle/Stock">Stok Takibi</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/AdvertList/Index">İlan Listesi</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Vehicle/PostingSalesAdvertisement">Bireysel Araç Satış</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/NonTenderVehicle/BuyAVehicleNow">Hemen Araç Al</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Home/Contact">İletişim</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Home/Login">Giriş Yap</a>
                        <a class="av-item nav-link btn" style="background-color: #2B2E4A;" href="~/Home/Expertise">Ekspertiz</a>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn " title="@ViewBag.infoTitle">Nasıl Kullanılır?</button>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle fas fa-user fa-fw" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:127px">
                            </button>
                            <div class="dropdown-menu">
                            <ul class="list-group" style="list-style-type: none;">

                                <li><h5><a class="dropdown-item text-center text-uppercase" style="height:50px;margin-top:10px" href="~/User/UserProfile">Profİl</a></h5></li>
                                <li><h5><a class="dropdown-item text-center text-uppercase" style="height:50px" href="~/User/UserProfile">Logout</a></h5></li>
                            </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>

    <div class="container-fluid" style="display: flex; flex-direction: column; min-height: 78.5vh; margin-top:100px">
        @RenderBody()
    </div>

    <footer>

        <div class="container-fluid bg-secondary py-1 px-sm-3 px-md-5" style="margin-top: 90px;">
            <div class="row pt-5">
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Bize Ulaşın</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-4"></i><a href="https://goo.gl/maps/cfAekmvdzed4CDaB9">İstanbul,Türkiye</a></p>
                    <p><i class="fa fa-envelope text-white mr-3"></i><a href="mailto:info@ravenclaw.com">info@ravenclaw.com</p>
                    <h6 class="text-uppercase text-white py-2">Bizi Takip Et</h6>
                    <div class="d-flex justify-content-start">
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Kullanışlı Bağlantılar</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Gizlilik Politikası</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Şart ve Koşullar</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Yeni Üye Kaydı</a>
                        <a class="text-body mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Ortaklık Programı</a>
                        <a class="text-body" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Yardım ve Sık Sorulan Sorular</a>
                    </div>
                </div>

                

                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Bülten</h4>
                    <p class="mb-4">Kurumsal Partnerimiz olmak ister misiniz? Size ulaşalım.</p>
                    <div class="w-100 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Email Adresiniz">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-uppercase px-3">Gönder</button>
                            </div>
                        </div>
                    </div>
                    <i>Çeşitli avantajlardan yararlanın...</i>
                </div>

            </div>
        </div>
        <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
            
            <p class="mb-2 text-center text-body">&copy;<a href="#">www.araccım.com</a> Tüm Hakları Saklıdır.</p>
            <p class="m-0 text-center text-body"><a href="~/home/index">Ravenclaw</a> Tarafından Tasarlanmıştır.</p>

        </div>
        @*<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>*@
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>