<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anasayfa</title>
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>info@example.com</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-uppercase text-primary mb-1">@Html.ActionLink("Araçcım", "Index", "Home")</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("İhaleler", "ListTender", "Tender")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("Bireysel Araç Satış", "PostingSalesAdvertisement", "Vehicle")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("Hemen Araç Al", "BuyAVehicleNow", "NonTenderVehicle")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("İletişim", "Contact", "Home")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("Giriş Yap", "Login", "Home")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light">@Html.ActionLink("Profil", "UserProfile", "User")</button>
                        <button style="background-color: #2B2E4A;" class="nav-item nav-link btn btn-light" title="@ViewBag.infoTitle">Nasıl Kullanılır?</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <hr>

    <div class="container-fluid">
        @RenderBody()

    </div>
    <div class="container-fluid bg-dark px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="#">Ravenclow</a></p>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>