@using VehicleTender.Web.AdminUI.Models.PageModel
@{
    ViewData["Title"] = "User List";
}
@model AdminsPage;
<h5 class="mb-3 pb-3 display-5 text-center mt-4">Adminler</h5>

<div class="row m-5">
    <a class="btn btn-primary w-100 p-3 mt-3 mb-3" data-toggle="modal" data-target="#addNewAdminUser">Kullanıcı Ekle</a>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Adminler Tablosu
    </div>


    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad Soyad</th>
                    <th>Mail Adresi</th>
                    <th>Telefon Numarası</th>
                    <th>Aktiflik Bilgisi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.getAdminDTO)
                {
                    <tr>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Surname
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Telephone
                        </td>
                        <td>
                            @item.isActive
                        </td>
                        <!--   <td>
                         <a asp-action="Ekle" asp-controller="AracIslemleri" asp-route-ID="etİsaretiitem.UserId" class="btn btn-primary">Düzenle</a>
                         </td>-->

                        <td style="text-align:center;">
                       <a asp-action="UpdateUser" asp-controller="UserOperations" asp-route-id="@item.UserId" class="btn btn-warning">Güncelle</a>
                        </td><!--data targetla gönder verileri-->
                        <td>
                            <form method="post">
                                <button type="submit" class="btn btn-danger" asp-action="DeleteAdmin" asp-controller="UserOperations" asp-route-ID="@item.UserId">Sil</button>
                            </form> <!--a kullan-->
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>




<form asp-action="AddNewAdmin" asp-controller="UserOperations" method="post">
    <div class="modal fade" id="addNewAdminUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center display-4 modal-title" id="exampleModalLongTitle">Kullanıcı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <input type="text" class="form-control form-control-lg mt-3" placeholder="Kullanıcı Adı" asp-for="addAdminDTO.Username" required />

                            <input type="text" class="form-control form-control-lg mt-3" placeholder="Ad " asp-for="addAdminDTO.Name" required/>

                            <input type="text" class="form-control form-control-lg mt-3" placeholder="Soyad" asp-for="addAdminDTO.Surname" required/>

                            <input type="text" class="form-control form-control-lg mt-3" placeholder="Telefon" asp-for="addAdminDTO.Telephone" required/>

                            <input type="text" class="form-control form-control-lg mt-3" placeholder="Email" asp-for="addAdminDTO.Email" required/>

                            <input type="password" class="form-control form-control-lg mt-3" placeholder="Parola" asp-for="addAdminDTO.Password" required/>

                            <select class="form-control form-control-lg mt-3">
                                <option value="@true">Aktif</option>
                                <option value="@false">Pasif</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>



