@model VehicleTender.Web.EndUserUI.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "ListVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Araç Tanımlama / Listeleme</h5>
    @using (Html.BeginForm("ListVehicle", "Vehicle", FormMethod.Post))
    {
        <div class="row">
            <div class="col-3">
                <label>Araç Marka</label>
                @Html.DropDownListFor(x => x.BrandId, new List<SelectListItem> { new SelectListItem
           {
               Text = "BMW",
               Value = "1"
           } }, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <label>Model</label>
                @Html.DropDownListFor(x => x.ModelId, new List<SelectListItem> { new SelectListItem
           {
               Text = "320",
               Value = "1"
           } }, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <label>Bireysel / Kurumsal</label>
                @Html.DropDownListFor(x => x.isIndividual, new List<SelectListItem> { new SelectListItem
           {
               Text = "Bireysel",
               Value = "1"
           } }, new { @class = "form-control" })
            </div>
            <div class="col-3">
                <label>Statü</label>
                @Html.DropDownListFor(x => x.StatusId, new List<SelectListItem> { new SelectListItem
           {
               Text = "Satışta",
               Value = "1"
           } }, new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" a style="background-color: #2B2E4A;" value="Listele" class="btn btn-info mt-1" />
    }

    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Araç ID</th>
                <th>Araç Marka</th>
                <th>Araç Model</th>
                <th>Statü</th>
                <th>Bireysel / Kurumsal</th>
                <th>Kaydeden Kullanıcı</th>
                <th>Kaydetme Zamanı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VehicleList)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.VehicleModel</td>
                    <td>@item.Statu</td>
                    <td>@item.Bireysel</td>
                    <td>@item.UserID</td>
                    <td>@item.CreatedDate</td>
                    <td><a href="" style="background-color: #2B2E4A;" class="btn btn-info btn-sm">Sil</a></td>
                    <td><a href="" style="background-color: #2B2E4A;" class="btn btn-info btn-sm">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="" style="background-color: white; color: #2B2E4A" class="btn btn-info btn-sm btn-block">Yeni Araç Ekle</a>
    <hr />
</div>
