@model VehicleTender.Web.EndUserUI.Models.PostingSalesModel
@{
ViewBag.infoTitle="Bu sayfada aracınızın satış ilanını verebilirsiniz...";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ROYAL CARS - Car Rental HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    @using (Html.BeginForm("PostingSalesAdvertisement", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!-- Navbar Start -->
        <div class="container-fluid">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-center mb-5">Araç Satış</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Araç Marka</label>
                            @Html.DropDownListFor(a => a.BrandName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Citröen",
                                   Text = "Citröen",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BrandName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Araç Model</label>
                            @Html.DropDownListFor(a => a.ModelName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "C4",
                                   Text = "C4",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ModelName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Gövde Tipi</label>
                            @Html.DropDownListFor(a => a.BodyTypeName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Sedan",
                                   Text = "Sedan",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.BodyTypeName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Yıl</label>
                            @Html.TextBoxFor(deg => deg.Year, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Vites Tipi</label>
                            @Html.DropDownListFor(a => a.GearTypeName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Otomatik",
                                   Text = "Otomatik",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GearTypeName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Yakıt Tipi</label>
                            @Html.DropDownListFor(a => a.FuelTypeName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Dizel",
                                   Text = "Dizel",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FuelTypeName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Renk</label>
                            @Html.DropDownListFor(a => a.ColorName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Beyaz",
                                   Text = "Beyaz",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ColorName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Versiyon</label>
                            @Html.DropDownListFor(a => a.VersionName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "1",
                                   Text = "1",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.VersionName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Donanım</label>
                            @Html.DropDownListFor(a => a.HardwareName, new List<SelectListItem> { new SelectListItem
                               {
                                   Value = "Navigasyon",
                                   Text = "Navigasyon",
                               } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.HardwareName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>KM</label>
                            @Html.TextBoxFor(deg => deg.KM, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.KM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fotoğraf</label>
                            <input type="file" name="Photos" class="form-control" multiple>
                            @Html.ValidationMessageFor(m => m.Photos, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            @Html.TextAreaFor(a => a.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <a href="tramer-bilgileri.html" class="btn btn-info btn-lg btn-block col-md-12" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #2B2E4A;">Hasar Tramer Bilgileri</a>
                            <button style="background-color: white; color: #2B2E4A;" class="btn btn-info btn-lg btn-block col-md-12" type="submit">Teklif Al</button>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>



        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Hasar Tramer Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <label>Toplam Tramer Tutarı</label>
                        @Html.TextBoxFor(deg => deg.TramerTutarı, new { @class = "form-control" })

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Orjinal</th>
                                    <th scope="col">Boyalı</th>
                                    <th scope="col">Değişmiş</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Arka Çamurluk</th>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaCamurluk, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaCamurluk, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaCamurluk, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Arka Kaput</th>
                                    <td>@Html.RadioButtonFor(a => a.ArkaKaput, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.ArkaKaput, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.ArkaKaput, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Arka Çamurluk</th>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaCamurluk, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaCamurluk, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaCamurluk, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Arka Kapı</th>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaKapı, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaKapı, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagArkaKapı, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Ön Kapı</th>
                                    <td>@Html.RadioButtonFor(a => a.SagOnKapı, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagOnKapı, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagOnKapı, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Tavan</th>
                                    <td>@Html.RadioButtonFor(a => a.Tavan, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.Tavan, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.Tavan, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Arka Kapı</th>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaKapı, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaKapı, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolArkaKapı, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Ön Kapı</th>
                                    <td>@Html.RadioButtonFor(a => a.SolOnKapı, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolOnKapı, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolOnKapı, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Ön Çamurluk</th>
                                    <td>@Html.RadioButtonFor(a => a.SagOnCamurluk, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagOnCamurluk, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SagOnCamurluk, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Motor Kaputu</th>
                                    <td>@Html.RadioButtonFor(a => a.MotorKaputu, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.MotorKaputu, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.MotorKaputu, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Ön Çamurluk</th>
                                    <td>@Html.RadioButtonFor(a => a.SolOnCamurluk, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolOnCamurluk, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.SolOnCamurluk, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Ön Tampon</th>
                                    <td>@Html.RadioButtonFor(a => a.OnTampon, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.OnTampon, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.OnTampon, "degisen")</td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Arka Tampon</th>
                                    <td>@Html.RadioButtonFor(a => a.ArkaTampon, "orginal")</td>
                                    <td>@Html.RadioButtonFor(a => a.ArkaTampon, "boyali")</td>
                                    <td>@Html.RadioButtonFor(a => a.ArkaTampon, "degisen")</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kaydet</button>
                        </div>
                </div>
            </div>
        </div>
    }


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>