@model VehicleTender.Web.EndUserUI.Models.StockPageModel
@{
    ViewBag.Title = "Stock";

}

<div class="container-fluid">
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Kurumsal Stok Ara</h5>
    <form method="get">
        <div class="row">
            <div class="col-4">
                <label>Şirket Adı</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1" name="companyName">
            </div>
            <div class="col-4">
                <label>Stoktaki Araç Sayısı</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1" name="count">
            </div>
        </div>
        <hr />
        <input type="submit" a style="background-color: #2B2E4A; float:right;" value="Listele" class="btn btn-info mt-1" />
    </form>
    <br />
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Stok Listesi</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="color:black;">Stok No</th>
                <th style="color:black;">Stok Sahibi Şirket</th>
                <th style="color:black;">Stokta bulunan araç sayısı</th>
                <th style="color:black;">Son Güncellenme Tarihi</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model.stockList)
            {
                @Html.BeginForm("GetVehicleInStock", "Vehicle", new { id = item.StockNo }, FormMethod.Get);
            <tr>
                <td>@item.StockNo</td>
                <td>@item.CompanyName</td>
                <td>@item.VehicleCount</td>
                <td>@item.LastModifiedDate</td>

                <td><button type="submit" a style="background-color: #2B2E4A; float:right;" value="Stok Detay" class="btn btn-info mt-1" />Stok Detay</td>
            </tr>
        }
        </tbody>
    </table>
</div>




<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:1000px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Stoktaki Araçlar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="color:black;">Araç Marka</th>
                                        <th style="color:black;">Araç Model</th>
                                        <th style="color:black;">Statü</th>
                                        <th style="color:black;">Kaydedilme Zamanı</th>
                                        <th style="color:black;">Ön Değerlendirme Fiyatı</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.vehicleInStock)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Brand</td>
                                            <td>@item.Model</td>
                                            <td>@item.Statu</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.PreAssessmentPrice</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <hr />
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


